In [1]:
import pandas as pd
import numpy as np
from haversine import haversine

distance = pd.read_csv("3)정류소이용현황_좌표추가_최종.csv", engine='python')

In [2]:
!pip install haversine --trusted-host pypi.org --trusted-host files.pythonhosted.org

Requirement already satisfied: haversine in c:\programdata\anaconda3\lib\site-packages (2.3.0)

In [3]:
distance.fillna(0, inplace=True)

In [4]:
distance

,Unnamed: 0,권역,정류소명_x,정류소ID,총합계,카드하차건수,카드승차건수,현금하차건수,현금승차건수,승하차 건수,일평균 대당 승하차 건수,GPS_LATI,GPS_LONG
0,0,서구,(구)신현주공,42228,"51,768","61,976","48,394","61,976","3,374",310,2.04,37.521842,126.673394
1,1,서구,(주)경동세라믹스,89146,"5,976",186,"5,883",186,93,17,3.36,37.559185,126.616977
2,2,서구,(주)경인양행앞,42096,"13,083","12,638","12,935","12,638",148,70,1.46,37.499045,126.665413
3,3,서구,(주)경인양행앞,42097,"21,979","38,372","21,476","38,372",503,164,3.43,37.499342,126.666789
4,4,서구,(주)에코마이스터,89147,"5,946",133,"5,871",133,75,17,3.31,37.559912,126.619596
...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,906,서구,효성아파트,42166,"129,037","33,085","126,908","33,085","2,129",442,6.80,37.513706,126.664840
907,907,서구,효성아파트,42168,"40,085","99,395","38,727","99,395","1,358",380,5.85,37.513866,126.664722
908,908,서구,휴먼시아후문,42885,"176,254","85,214","169,834","85,214","6,420",712,6.04,37.529706,126.647243
909,909,서구,희성금속,42018,"1,755","6,292","1,651","6,292",104,22,0.51,37.482479,126.676031
910,910,서구,힐데스하임,42876,"206,854","75,223","201,099","75,223","5,755",769,6.41,37.529726,126.652797

In [15]:
distance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     911 non-null    int64
 1   권역             911 non-null    object
 2   정류소명_x         911 non-null    object
 3   정류소ID          911 non-null    int64
 4   총합계            911 non-null    object
 5   카드하차건수         911 non-null    object
 6   카드승차건수         911 non-null    object
 7   현금하차건수         911 non-null    object
 8   현금승차건수         911 non-null    object
 9   승하차 건수         911 non-null    int64
 10  일평균 대당 승하차 건수  911 non-null    float64
 11  GPS_LATI       911 non-null    float64
 12  GPS_LONG       911 non-null    float64
dtypes: float64(3), int64(3), object(7)
memory usage: 92.6+ KB

In [26]:
bus1 = distance.loc[(distance['승하차 건수'] < 173),:]

In [24]:
bus2 = distance.loc[(distance['승하차 건수'] <509)&(distance['승하차 건수'] >=173),:]
bus3 = distance.loc[(distance['승하차 건수'] >= 509),:]

In [27]:
distance['버스거리_3단계'] = 0
distance['버스거리_2단계'] = 0
distance['버스거리_1단계'] = 0

In [28]:
distance

,Unnamed: 0,권역,정류소명_x,정류소ID,총합계,카드하차건수,카드승차건수,현금하차건수,현금승차건수,승하차 건수,일평균 대당 승하차 건수,GPS_LATI,GPS_LONG,버스거리_3단계,버스거리_2단계,버스거리_1단계
0,0,서구,(구)신현주공,42228,"51,768","61,976","48,394","61,976","3,374",310,2.04,37.521842,126.673394,0,0,0
1,1,서구,(주)경동세라믹스,89146,"5,976",186,"5,883",186,93,17,3.36,37.559185,126.616977,0,0,0
2,2,서구,(주)경인양행앞,42096,"13,083","12,638","12,935","12,638",148,70,1.46,37.499045,126.665413,0,0,0
3,3,서구,(주)경인양행앞,42097,"21,979","38,372","21,476","38,372",503,164,3.43,37.499342,126.666789,0,0,0
4,4,서구,(주)에코마이스터,89147,"5,946",133,"5,871",133,75,17,3.31,37.559912,126.619596,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,906,서구,효성아파트,42166,"129,037","33,085","126,908","33,085","2,129",442,6.80,37.513706,126.664840,0,0,0
907,907,서구,효성아파트,42168,"40,085","99,395","38,727","99,395","1,358",380,5.85,37.513866,126.664722,0,0,0
908,908,서구,휴먼시아후문,42885,"176,254","85,214","169,834","85,214","6,420",712,6.04,37.529706,126.647243,0,0,0
909,909,서구,희성금속,42018,"1,755","6,292","1,651","6,292",104,22,0.51,37.482479,126.676031,0,0,0
910,910,서구,힐데스하임,42876,"206,854","75,223","201,099","75,223","5,755",769,6.41,37.529726,126.652797,0,0,0

In [35]:
new_distance=distance.loc[:,["정류소명_x","승하차 건수","GPS_LATI","GPS_LONG","버스거리_3단계","버스거리_2단계","버스거리_1단계"]]

In [36]:
new_distance

        정류소명_x  승하차 건수   GPS_LATI    GPS_LONG  버스거리_3단계  버스거리_2단계  버스거리_1단계
0      (구)신현주공     310  37.521842  126.673394         0         0         0
1    (주)경동세라믹스      17  37.559185  126.616977         0         0         0
2     (주)경인양행앞      70  37.499045  126.665413         0         0         0
3     (주)경인양행앞     164  37.499342  126.666789         0         0         0
4    (주)에코마이스터      17  37.559912  126.619596         0         0         0
..         ...     ...        ...         ...       ...       ...       ...
906      효성아파트     442  37.513706  126.664840         0         0         0
907      효성아파트     380  37.513866  126.664722         0         0         0
908     휴먼시아후문     712  37.529706  126.647243         0         0         0
909       희성금속      22  37.482479  126.676031         0         0         0
910      힐데스하임     769  37.529726  126.652797         0         0         0

[911 rows x 7 columns]

In [27]:
distance2=distance[distance['전기차']!=0]

In [28]:
for j in range(0, len(distance)):
    for i in range(0, len(distance2)):
        lon = distance['경도'][j]
        lat = distance['위도'][j]
        lon2 = distance2['경도'].reset_index(drop=True)[i]
        lat2 = distance2['위도'].reset_index(drop=True)[i]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        if c <= 500:
             distance['거리_전기차'][j] = 1

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [30]:
distance3=distance[distance['충전소']!=0]

In [31]:
for j in range(0, len(distance)):
    for i in range(0, len(distance3)):
        lon = distance['경도'][j]
        lat = distance['위도'][j]
        lon2 = distance3['경도'].reset_index(drop=True)[i]
        lat2 = distance3['위도'].reset_index(drop=True)[i]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        if c <= 500:
             distance['거리_충전소'][j] = 1

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [40]:
distance4=distance[distance['교통량']!=0]

In [41]:
for j in range(0, len(distance)):
    for i in range(0, len(distance4)):
        lon = distance['경도'][j]
        lat = distance['위도'][j]
        lon2 = distance4['경도'].reset_index(drop=True)[i]
        lat2 = distance4['위도'].reset_index(drop=True)[i]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        if c <= 500:
             distance['거리_교통량'][j] = 1

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [45]:
distance.to_csv("C:\\Users\\USER\\Desktop\\샘플데이터\\정제 데이터\\전처리데이터2.csv",
                header = True, index=False, sep=',', encoding='cp949')